/* Specific styles */

footer {
    bottom: 0;
    display: block;
}

.right {
float: right;

}

.btnw .btn {

	width: 200px;
}
.yellow {
background-color: yellow;
border-color: yellow;
color: #333;
}

..yellow:hover,.yellow :focus,.yellow :active,.yellow .active{

background-color: rgb(226, 226, 67) !important;
border-color: yellow;
color: #333;
}

.text h5 {

color: #808080;
}

.fixed {

	position: fixed;
}

.buscador {
	padding: 5px;

}

#dashboard {
	background-color: #eee;

}


.multiform .form-group {

	margin-bottom: 40px;
padding-bottom: 20px;
}

.listicon li{

list-style: none !important;
}


section {
	margin-top: 90px;
	padding-top: 50px;
}

#mercado  {
	margin-top: 50px;
	border: 1px solid #007196;
	background-color: #D7F7FC;
}
.azul {
	color: #007196;;
}
#precio {
	border: 1px solid yellow;
	background-color: rgb(247, 247, 204);
}

#barato {
	border: 1px solid #43ac6a;
	background-color: rgba(103, 245, 110, 0.45);
}
#calculadora {
border: 1px solid #f04124;
background-color: #eee;
}

.factura  {color: #ffffff;
 background-color: #FCCF85 !important; }

 #pills-tab6  .row {
 	padding-left: 20px;

 }
.afact a {
	color:  #FCCF85 !important;
}
 li.active .factura>a, li.active.factura>a:hover, li.active .factura>>a:focus {
 background-color: #FCCF85 !important; 
}

.linea {
color: #7cb5ec;
font-size: 30px;
float: right;
padding-right: 120px;
margin-top: -45px;
}
.success {
color: #43ac6a;
}
.rojo {
color: #f04124;

}

table.tarifas {
text-align: center;
}

table.tarifas>thead {
background-color: #D5D3D3;
color: #333;
}

table.tarifas td {
	border: 2px solid #fff;

}

table.tarifas>thead>tr>th {
 
text-align: center !important;

}

table.tarifas>thead>tr>th, table.tarifas>tbody>tr>th, table.tarifas>tfoot>tr>th, table.tarifas>thead>tr>td, table.tarifas>tbody>tr>td, table.tarifas>tfoot>tr>td {

vertical-align: middle;

}

table.tarifas img{
	width: 30px;
}

table.tarifas .info{
	font-weight: bold;
}

.sticky {
position: fixed;
width: 100%;
top: 0;
z-index: 10000;
	
}
.menu {

	margin-left: 100px;
}

ul.listicon {
	margin-left: 0px;
	padding-left: 0px;
}

#view section{
	margin-top: 20px;
}

#form section {
	margin: 0px;
	padding-top: 0px;
}
#form .jumbotron {
	padding: 10px;

}