/* Specific styles */

footer {
    bottom: 0;
    display: block;
}

.right {
float: right;

}

.fixed {

	position: fixed;
}

.buscador {
	padding: 5px;

}

#dashboard {
	background-color: #eee;

}

.multiform .form-group {

	margin-bottom: 40px;
padding-bottom: 20px;
}

.listicon li{

list-style: none !important;
}
.botones a{

}

section {
	margin-top: 30px;
}

#pills-tab6 {
 background-color: #FCCF85;
}

.factura  {color: #ffffff;
 background-color: #FCCF85 !important; }

 #pills-tab6  .row {
 	padding-left: 20px;

 }
.afact a {
	color:  #FCCF85 !important;
}
 li.active .factura>a, li.active.factura>a:hover, li.active .factura>>a:focus {
 background-color: #FCCF85 !important; 
}
