/* Specific styles */

footer {
    bottom: 0;
    display: block;
}

.right {
float: right;

}

.fixed {

	position: fixed;
}

.buscador {
	padding: 5px;

}

#dashboard {
	background-color: #eee;

}

.multiform .form-group {

	margin-bottom: 40px;
padding-bottom: 20px;
}